{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% load static %}
<section>

   
	<div class="title1">
		<h5 style="font-size:150%;">	Concurso activo en Facebook! </h5>
		<br>
		<center><iframe class="img-responsive" style="height:702px; width:500px;" src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FIvyStoreJapan%2Fposts%2F1187302538120136&width=500" allowfullscreen="allowfullscreen" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe></center>
	</div>
	<div class="title1">
		<h5 style="font-size:150%;">	Se viene la final de Pokemon! </h5>
		<br>
		<center><iframe class="img-responsive" style="height:315px; width:560px;" src="https://www.youtube.com/embed/3otQj7GSR94" frameborder="0" allowfullscreen="allowfullscreen"></iframe></center>	
	</div>
	<div class="title1">
		<h5 style="font-size:150%;">	¡Incluso videojuegos! </h5>
		<br>
		<center><iframe class="img-responsive" style="height:315px; width:560px;" src="https://www.youtube.com/embed/fKiz265SMME" frameborder="0" allowfullscreen="allowfullscreen"></iframe><center>
	</div>


</section>{% endblock %}
