{% extends "base.html" %}{% load staticfiles %}{% load static %}
{% block content %}
<section>
   


	<div class="title1" >
	 <b style="font-size:150%;">nuevas cartas gx se aproximan</b>
	 <br>
	 <br>
	 <center><img class="img-responsive" src="{% static 'img/a1.png' %}" ></center><br><br>	 
	 <div class="content-box-purple"><p style="font-size:100%;">Tenemos la lista completa de las nuevas cartas que conformaran el bloque SM11b "Alter Genesis", la ultima expansion lanzada en Japon y que promete cambiar de sobremanera el formato Standar competitivo...</p></div>
	 <br>
	 
	</div>
  
    
</section>
{% endblock %}
